body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  color: #721c24;
  position: relative;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.banner {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: auto;
  height: 100px;
}
